.flex{
    display: flex;
}

.flex_col{
    flex-direction: column;
}

.flex_row{
    flex-direction: row;
}

.flex_row_center{
    justify-content: center;
}

.flex_col_center{
    align-items: center;
}

.flex_space{
    justify-content: space-between;
}

.gap_medium{
    gap: 10px;
}
.game_menu{
    
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
}

#new_game{
    cursor: pointer;
}

